:root {
  --dark: #111827;
  --dark-hover: #1f2937;
  --light: #f9fafb;
  --light-hover: #e5e7eb;
  --grey: #6b7280;
  --bg-layer-light: #d1d5db;
  --bg-layer-primary: #0d6efd;
}

.navbar {
  background-color: var(--dark);
  font-family: "Poppins", sans-serif;
}

#navbarContainer {
  padding-left: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#navbarBrand {
  color: var(--light);
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
}

#navbarTogglerButton {
  background-color: transparent;
  border-radius: 8px;
  padding: 12px 12px;
  transition: all 0.3s ease;
}

#navbarTogglerButton:hover {
  background-color: var(--dark-hover);
  transition: all 0.3s ease;
}

#navbarTogglerButton:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

#navbarTogglerIcon {
  color: var(--light);
  font-size: 20px;
}

.navbar-nav .nav-item {
  background-color: transparent;
  transition: all 0.3s ease;
}

.navbar-nav .nav-item:hover {
  background-color: var(--dark-hover);
  transition: all 0.3s ease;
}

.navbar-nav .nav-active {
  background-color: var(--dark-hover);
}

.navbar-nav .nav-link{
  color: var(--light);
  font-weight: 600;
}

.navbar-nav .nav-link:hover {
  color: var(--light);
}

#outlineButtonDark {
  background-color: transparent;
  border: 2px solid var(--light);
  border-radius: 100px;
  color: var(--light);
  font-weight: 500;
  padding: 6px 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}

#outlineButtonDark:hover {
  background-color: var(--dark-hover);
  transition: all 0.3s ease;
}

section {
  background-color: var(--bg-layer-light);
  font-family: "Alan Sans", sans-serif;
  margin-top: 4rem;
  padding: 0 0;
  min-height: 100vh;
  width: 100%;
}

#backgroundContainer {
  background-color: var(--bg-layer-primary);
  font-family: "Alan Sans", sans-serif;
}

#biodataCard {
  margin: 1rem 1.2rem;
}

#biodataCardBody {
  padding: 3rem;
}

#biodataCardBody > div {
  flex: 1;
}

.card-title {
  font-size: 28px;
  font-weight: 600;
}

.card-text {
  text-align: justify;
}

#filledButtonLight {
  background-color: var(--dark);
  border-radius: 100px;
  color: var(--light);
  font-weight: 500;
  padding: 6px 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}

#filledButtonLight:hover {
  background-color: var(--dark-hover);
  transition: all 0.3s ease;
}

#outlineButtonLight {
  background-color: transparent;
  border: 2px solid var(--dark);
  border-radius: 100px;
  color: var(--dark);
  font-weight: 500;
  padding: 6px 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}

#outlineButtonLight:hover {
  background-color: var(--light-hover);
  transition: all 0.3s ease;
}

#biodataSocial {
  color: var(--dark);
  font-size: 2rem;
  transition: all 0.3s ease;
}

#biodataSocial:hover {
  color: var(--dark-hover);
  transition: all 0.3s ease;
}

#photoCard {
  width: 18rem;
}

#photoCard .card-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0;
}

#photoCard .card-text {
  font-size: 16px;
}

#contactFormImage {
  width: 400px;
}

#contactForm label,
#addProjectForm label {
  font-size: 1.1rem;
}

#contactForm .form-control:focus,
#contactForm .form-select:focus,
#addProjectForm .form-control:focus {
  box-shadow: none;
  border: 1px solid var(--dark);
}

#submitContactButton,
#submitProjectButton,
#registerUserAccountButton,
#loginUserAccountButton {
  background-color: var(--dark);
  border: none;
  transition: all 0.3s ease;
}

#submitContactButton:hover,
#submitProjectButton:hover,
#registerUserAccountButton:hover,
#loginUserAccountButton:hover {
  background-color: var(--dark-hover);
  transition: all 0.3s ease;
}

#projectCatalogContainer {
  background-color: var(--light);
  padding: 0 1.2rem;
}

#projectCatalogContainer h5 {
  margin: 0 0;
}

#projectCatalogContainer .row {
  padding: 0 10%;
}

#projectCard .card-title {
  display: -webkit-box;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

#projectCard .card-title:hover {
  text-decoration: underline;
}

#projectCard span {
  color: var(--grey);
  font-size: 16px;
}

#projectCard .card-text {
  display: -webkit-box;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

#projectDetailImage {
  width: 27rem;
}

#projectDetailDescription {
  text-align: justify;
}

footer {
  background-color: var(--dark);
  color: var(--light);
  font-family: "Poppins", sans-serif;
}

#footerContainer {
  padding: 1rem 0.5rem;
}

#footerContainer p {
  color: var(--grey);
  font-size: 14px;
  margin: 0;
}

#registerForm p a,
#loginForm p a {
  color: var(--dark);
  font-weight: 500;
}

@media (min-width: 576px) {
  #projectDetailImage {
    width: 32rem;
  }
}

@media (min-width: 768px) {
  #navbarContainer {
    padding: 0 5rem;
  }
  
  #outlineButtonDark {
    padding: 8px 24px;
  }

  #filledButtonLight {
    padding: 8px 24px;
  }

  #outlineButtonLight {
    padding: 8px 24px;
  }

  section {
    margin-top: 4.5rem;
  }

  #biodataCard {
    margin-left: 4.8rem;
    margin-right: 4.8rem;
  }

  #projectCatalogContainer {
    padding: 0 4.8rem;
  }

  #projectCatalogContainer .row {
    padding: 0 2%;
  }
  
  #projectDetailImage {
    width: 35rem;
  }

  #footerContainer {
    padding: 1.3rem 5rem;
  }
}

@media (min-width: 1200px) {
  #navbarContainer {
    padding: 0 10rem;
  }

  #biodataCard {
    margin-left: 9.8rem;
    margin-right: 9.8rem;
    margin-bottom: 0;
  }

  #projectCatalogContainer {
    padding: 0 9.8rem;
  }

  #footerContainer {
    padding: 1.3rem 10rem;
  }
}